allow vendor_init device:file { create write };

allow vendor_init rootfs:lnk_file setattr;
allow vendor_init rootfs:dir { write add_name };

allow vendor_init system_data_file:dir create_dir_perms;
allow vendor_init tombstone_data_file:dir { setattr search };
